 .u-section-2 {
  background-image: url("/images/0H3A528931.JPG");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 482px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 393px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 226px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 142px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 292px;
}

.u-section-3 .u-image-1 {
  width: 520px;
  height: 204px;
  margin: 88px auto 0;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-3 .u-image-1 {
    width: 417px;
    height: 181px;
    margin-top: 55px;
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-3 .u-image-1 {
    height: 148px;
    margin-top: 69px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1420px;
}

.u-section-4 .u-gallery-1 {
  height: 1468px;
  width: 772px;
  margin: -65px 168px 17px auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 52px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 52px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1145px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1194px;
    width: 631px;
    margin-top: -18px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1123px;
  }

  .u-section-4 .u-gallery-1 {
    height: 900px;
    width: 435px;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-4 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-4 .u-gallery-1 {
    height: 803px;
    width: 409px;
    margin-top: -20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    width: 220px;
    margin-top: -147px;
  }

  .u-section-4 .u-carousel-control-1 {
    padding: 9px;
  }

  .u-section-4 .u-carousel-control-2 {
    padding: 9px;
  }
} .u-section-5 {
  margin-top: 20px;
}

.u-section-5 .u-sheet-1 {
  min-height: 1123px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 65px 0 0 auto;
}

.u-section-5 .u-image-1 {
  min-height: 654px;
  background-image: linear-gradient(0deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url("/images/0H3A57992.JPG");
  background-position: 41.07% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-gallery-1 {
  height: 205px;
  width: 356px;
  margin: 13px auto 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-back-image-1 {
  left: -50px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-back-image-2 {
  object-position: 50% 61.32%;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-back-image-3 {
  left: -50px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-back-image-4 {
  left: -50px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-5 .u-back-image-5 {
  left: -50px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-5 .u-back-image-6 {
  left: -50px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-5 .u-back-image-7 {
  left: -50px;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-5 .u-back-image-8 {
  left: -50px;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-image-2 {
  width: 424px;
  height: 198px;
  margin: 35px 77px 0 35px;
}

.u-section-5 .u-social-icons-1 {
  min-height: 16px;
  width: 464px;
  min-width: 316px;
  margin: 77px auto 0 24px;
}

.u-section-5 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-5 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-image-3 {
  width: 1093px;
  height: 369px;
  margin: 65px 8px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 548px;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 548px;
  }

  .u-section-5 .u-gallery-1 {
    height: 163px;
    width: 374px;
    margin-top: 19px;
    margin-right: -20px;
  }

  .u-section-5 .u-over-slide-1 {
    padding: 30px;
  }

  .u-section-5 .u-back-image-2 {
    left: -50px;
  }

  .u-section-5 .u-over-slide-2 {
    padding: 30px;
  }

  .u-section-5 .u-over-slide-3 {
    padding: 30px;
  }

  .u-section-5 .u-over-slide-4 {
    padding: 30px;
  }

  .u-section-5 .u-over-slide-5 {
    padding: 30px;
  }

  .u-section-5 .u-over-slide-6 {
    padding: 30px;
  }

  .u-section-5 .u-over-slide-7 {
    padding: 30px;
  }

  .u-section-5 .u-over-slide-8 {
    padding: 30px;
  }

  .u-section-5 .u-carousel-control-1 {
    padding: 10px;
  }

  .u-section-5 .u-carousel-control-2 {
    padding: 10px;
  }

  .u-section-5 .u-image-2 {
    width: 344px;
    height: 160px;
    margin-top: 56px;
    margin-right: auto;
    margin-left: 45px;
  }

  .u-section-5 .u-social-icons-1 {
    min-width: 232px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    width: 372px;
    height: 51px;
    margin-top: 50px;
    margin-left: auto;
  }

  .u-section-5 .u-image-3 {
    height: 317px;
    margin-top: 56px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 420px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 514px;
  }

  .u-section-5 .u-gallery-1 {
    width: 333px;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    width: 333px;
    height: 155px;
    margin-left: 0;
  }

  .u-section-5 .u-social-icons-1 {
    width: 332px;
    height: 41px;
    margin-right: 33px;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: 85px;
    margin-bottom: 36px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -538px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 610px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-5 .u-gallery-1 {
    height: 109px;
    width: 308px;
    margin-top: 16px;
    margin-right: 51px;
  }

  .u-section-5 .u-image-2 {
    width: 251px;
    height: 117px;
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-5 .u-social-icons-1 {
    width: 352px;
    height: 46px;
    margin-top: 148px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-3 {
    height: 232px;
    margin-top: -206px;
    margin-bottom: 41px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 10px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -823px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 347px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 536px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 19px;
    margin-right: -40px;
  }

  .u-section-5 .u-image-2 {
    width: 249px;
    height: 116px;
    margin-top: 37px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 330px;
    height: 41px;
    margin-top: 79px;
    margin-right: 35px;
    margin-left: 9px;
  }

  .u-section-5 .u-image-3 {
    height: 145px;
    margin-top: -183px;
    margin-bottom: 18px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}