 .u-section-2 {
  background-image: url("images/IMG-20230806-WA0007.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 461px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 291px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 218px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 137px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 291px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-decoration: none !important;
  margin: 49px auto 0 8px;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 39px;
  min-height: 16px;
  width: 236px;
  min-width: 120px;
  margin: 16px auto 0 8px;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 0;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-gallery-1 {
  height: 205px;
  width: 323px;
  margin: -99px 33px 16px auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-image-1 {
  left: -50px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-back-image-2 {
  left: -50px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-back-image-3 {
  left: -50px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-4 {
  background-image: none;
}

.u-section-3 .u-back-image-4 {
  left: -50px;
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-back-image-6 {
  left: -50px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-6 {
  background-image: none;
}

.u-section-3 .u-back-image-7 {
  left: -50px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-back-image-9 {
  left: -50px;
  object-position: 87.51% 50%;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-back-image-10 {
  left: -50px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-3 .u-back-image-11 {
  left: -50px;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-3 .u-back-image-12 {
  left: -50px;
}

.u-section-3 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 4px;
  }

  .u-section-3 .u-social-icons-1 {
    width: 235px;
    margin-left: 4px;
  }

  .u-section-3 .u-gallery-1 {
    margin-left: 580px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 105px;
  }

  .u-section-3 .u-gallery-1 {
    width: 247px;
    margin-top: -119px;
    margin-right: 22px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 24px;
  }

  .u-section-3 .u-gallery-1 {
    width: 234px;
    margin-top: -74px;
    margin-right: -16px;
    margin-bottom: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-3 .u-social-icons-1 {
    height: 28px;
    width: 181px;
  }

  .u-section-3 .u-gallery-1 {
    height: 171px;
    width: 131px;
    margin-top: 16px;
    margin-right: 39px;
    margin-bottom: 57px;
  }

  .u-section-3 .u-back-image-1 {
    object-position: 50% 65.32%;
  }
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 0px 0px 0px rgba(128,128,128,0) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-3 .u-text-1 {
  border-color: transparent !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 0px 0px 0px rgba(128,128,128,0) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-3 .u-text-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  border-style: double;
}

.u-section-4 .u-sheet-1 {
  min-height: 825px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 19px;
}

.u-section-4 .u-image-1 {
  min-height: 420px;
  background-image: url("images/christmaspartyholidaypartyinstagrampost-FaitavecPosterMyWall.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 74px 30px 60px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 838px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  text-transform: none;
  margin: 13px 25px 0 40px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 129px 19px 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 52px auto 0 191px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 3px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-1 {
    min-height: 346px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 691px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    text-transform: uppercase;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 55px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 37px;
  }

  .u-section-4 .u-image-1 {
    min-height: 265px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 444px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -2px;
    margin-bottom: 14px;
  }

  .u-section-4 .u-image-1 {
    min-height: 398px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 366px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 44px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 61px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 61px;
    margin-left: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 247px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 358px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 21px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 47px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 47px;
    margin-left: auto;
  }
} .u-section-5 {
  border-style: double;
}

.u-section-5 .u-sheet-1 {
  min-height: 822px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 16px;
}

.u-section-5 .u-image-1 {
  min-height: 420px;
  background-image: url("images/403399492_340393198700243_5739406522289578919_n.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 74px 30px 60px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 838px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 13px 25px 0 40px;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 65px 19px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-5 .u-image-1 {
    min-height: 346px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 691px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 59px;
  }

  .u-section-5 .u-image-1 {
    min-height: 265px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 47px;
    margin-bottom: 31px;
  }

  .u-section-5 .u-image-1 {
    min-height: 398px;
    background-position: 50% 16.15%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 434px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: -239px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 42px;
  }

  .u-section-5 .u-image-1 {
    min-height: 251px;
    background-position: 50% 17.59%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin: 19px 3px -53px;
  }
} .u-section-6 {
  border-style: double;
}

.u-section-6 .u-sheet-1 {
  min-height: 825px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 16px;
}

.u-section-6 .u-image-1 {
  min-height: 420px;
  background-image: url("images/DSCF1896.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 74px 30px 60px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 838px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 13px 25px 0 40px;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  margin: 65px 19px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-6 .u-image-1 {
    min-height: 346px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 691px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-6 .u-image-1 {
    min-height: 265px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 608px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 27px;
  }

  .u-section-6 .u-image-1 {
    min-height: 398px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: -239px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: 46px;
  }

  .u-section-6 .u-image-1 {
    min-height: 251px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 328px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin: 13px -1px -189px;
  }
} .u-section-7 {
  background-image: url("images/IMG-20230806-WA0007.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 338px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 264px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 279px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 186px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 214px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 122px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 161px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 51px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 101px;
  }
} .u-section-8 {
  border-style: double;
}

.u-section-8 .u-sheet-1 {
  min-height: 824px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 16px;
}

.u-section-8 .u-image-1 {
  min-height: 420px;
  background-image: url("images/405257584_6941750405882780_5710509036198919477_n.jpg");
  background-position: 47.75% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 74px 30px 60px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 838px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  margin: 13px 25px 0 40px;
}

.u-section-8 .u-text-2 {
  font-size: 1rem;
  margin: 65px 19px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-8 .u-image-1 {
    min-height: 346px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 691px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-text-1 {
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-8 .u-image-1 {
    min-height: 265px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-8 .u-image-1 {
    min-height: 398px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-2 {
    margin-bottom: -239px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: 46px;
  }

  .u-section-8 .u-image-1 {
    min-height: 251px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin: 13px -1px -189px;
  }
} .u-section-9 {
  border-style: double;
}

.u-section-9 .u-sheet-1 {
  min-height: 822px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-9 .u-image-1 {
  min-height: 420px;
  background-image: url("images/371068541_843902991074551_1234128258980840026_n.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 74px 30px 60px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 838px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-9 .u-text-1 {
  font-size: 2.25rem;
  margin: 13px 25px 0 40px;
}

.u-section-9 .u-text-2 {
  font-size: 1rem;
  margin: 65px 19px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 16px;
  }

  .u-section-9 .u-image-1 {
    min-height: 820px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 820px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 92px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 83px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 16px;
  }

  .u-section-9 .u-image-1 {
    min-height: 628px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1250px;
  }

  .u-section-9 .u-image-1 {
    min-height: 942px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-text-2 {
    margin-bottom: -239px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-9 .u-image-1 {
    min-height: 593px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 151px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 29px;
  }

  .u-section-9 .u-text-2 {
    font-size: 0.75rem;
    margin: 17px -1px -189px;
  }
} .u-section-10 {
  background-image: url("images/IMG-20230806-WA0007.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 338px;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 264px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 279px;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 186px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 214px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 122px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 161px;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 51px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 101px;
  }
} .u-section-11 {
  border-style: double;
}

.u-section-11 .u-sheet-1 {
  min-height: 598px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-11 .u-image-1 {
  min-height: 420px;
  background-image: url("images/Capturedcran2023-11-17170216.png");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 838px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-11 .u-text-1 {
  font-size: 2.25rem;
  margin: 13px 25px 0 40px;
}

.u-section-11 .u-text-2 {
  font-size: 1rem;
  margin: 50px 25px 0 12px;
}

.u-section-11 .u-text-3 {
  margin: -180px 25px 116px 12px;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-image-1 {
    min-height: 821px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 822px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-11 .u-text-1 {
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-3 {
    width: auto;
    margin: -224px -1px 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-11 .u-image-1 {
    min-height: 629px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-11 .u-text-3 {
    margin-top: -239px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1651px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-image-1 {
    min-height: 944px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-11 .u-text-3 {
    margin-top: -175px;
    margin-bottom: -64px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-1 {
    min-height: 596px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 395px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-11 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 13px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-11 .u-text-3 {
    margin: -162px -2px -50px;
  }

  .u-section-11 .u-btn-1 {
    font-size: 0.75rem;
  }
} .u-section-12 {
  border-style: double;
}

.u-section-12 .u-sheet-1 {
  min-height: 599px;
}

.u-section-12 .u-layout-wrap-1 {
  margin: 15px 0 23px;
}

.u-section-12 .u-image-1 {
  min-height: 589px;
  background-image: url("images/calendrier.png");
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 590px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-12 .u-text-1 {
  font-size: 2.25rem;
  margin: 34px 32px 0;
}

.u-section-12 .u-text-2 {
  font-size: 1rem;
  margin: 56px 30px 0;
}

.u-section-12 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 56px auto 0;
}

.u-section-12 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 48px auto 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-image-1 {
    min-height: 340px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-12 .u-image-1 {
    min-height: 372px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-12 .u-image-1 {
    min-height: 558px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-image-1 {
    min-height: 221px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-12 .u-text-2 {
    font-size: 0.75rem;
  }
} .u-section-13 {
  background-image: url("images/IMG-20230806-WA0007.jpg");
  background-position: 50% 50%;
}

.u-section-13 .u-sheet-1 {
  min-height: 338px;
}

@media (max-width: 1199px) {
   .u-section-13 {
    min-height: 264px;
  }

  .u-section-13 .u-sheet-1 {
    min-height: 279px;
  }
}

@media (max-width: 991px) {
   .u-section-13 {
    min-height: 186px;
  }

  .u-section-13 .u-sheet-1 {
    min-height: 214px;
  }
}

@media (max-width: 767px) {
   .u-section-13 {
    min-height: 122px;
  }

  .u-section-13 .u-sheet-1 {
    min-height: 161px;
  }
}

@media (max-width: 575px) {
   .u-section-13 {
    min-height: 51px;
  }

  .u-section-13 .u-sheet-1 {
    min-height: 101px;
  }
} .u-section-14 {
  border-style: double;
}

.u-section-14 .u-sheet-1 {
  min-height: 451px;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-14 .u-image-1 {
  min-height: 420px;
  background-image: url("images/1680271001058.jpeg");
  background-position: 50% 50%;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-14 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-14 .u-text-1 {
  font-size: 2.25rem;
  margin: 16px 34px 0;
}

.u-section-14 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 35px;
}

.u-section-14 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-14 .u-image-1 {
    min-height: 340px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-14 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-text-2 {
    width: auto;
    margin-top: 5px;
    margin-left: -1px;
    margin-right: -1px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-14 .u-image-1 {
    min-height: 344px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-14 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-14 .u-text-2 {
    font-size: 1rem;
    margin-top: -9px;
    margin-right: -4px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-14 .u-image-1 {
    min-height: 461px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-14 .u-text-2 {
    margin-top: -16px;
    margin-left: -1px;
    margin-right: -1px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-14 .u-image-1 {
    min-height: 250px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-14 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 23px;
  }

  .u-section-14 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -12px;
    margin-right: -3px;
    margin-left: 1px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 25px;
}