 .u-section-2 {
  background-image: url("images/IMG-20230806-WA0007.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 461px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 291px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 218px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 137px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 385px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-decoration: none !important;
  margin: 49px auto 0 8px;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 39px;
  min-height: 16px;
  width: 236px;
  min-width: 120px;
  margin: 16px auto 0 8px;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 0;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-gallery-1 {
  height: 205px;
  width: 323px;
  margin: -99px 33px 60px auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-image-1 {
  left: -50px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-back-image-2 {
  left: -50px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-back-image-3 {
  left: -50px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-4 {
  background-image: none;
}

.u-section-3 .u-back-image-4 {
  left: -50px;
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-back-image-6 {
  left: -50px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-6 {
  background-image: none;
}

.u-section-3 .u-back-image-7 {
  left: -50px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-back-image-9 {
  left: -50px;
  object-position: 87.51% 50%;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-back-image-10 {
  left: -50px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-3 .u-back-image-11 {
  left: -50px;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-3 .u-back-image-12 {
  left: -50px;
}

.u-section-3 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 4px;
  }

  .u-section-3 .u-social-icons-1 {
    width: 235px;
    margin-left: 4px;
  }

  .u-section-3 .u-gallery-1 {
    margin-left: 580px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 105px;
  }

  .u-section-3 .u-gallery-1 {
    width: 247px;
    margin-top: -119px;
    margin-right: 22px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 24px;
  }

  .u-section-3 .u-gallery-1 {
    width: 234px;
    margin-top: -74px;
    margin-right: -16px;
    margin-bottom: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-3 .u-social-icons-1 {
    height: 28px;
    width: 181px;
  }

  .u-section-3 .u-gallery-1 {
    height: 171px;
    width: 131px;
    margin-top: 16px;
    margin-right: 39px;
    margin-bottom: 57px;
  }

  .u-section-3 .u-back-image-1 {
    object-position: 50% 65.32%;
  }
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 0px 0px 0px rgba(128,128,128,0) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-3 .u-text-1 {
  border-color: transparent !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 0px 0px 0px rgba(128,128,128,0) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-3 .u-text-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: url("images/IMG-20230806-WA0007.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 363px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 264px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 299px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 186px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 229px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 122px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 172px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 51px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 108px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 576px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  min-height: 473px;
  background-image: url("images/Capturedcran2024-03-20211753.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 473px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 19px 8px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 94px auto 0;
  padding: 15px 64px 16px 63px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-5 .u-image-1 {
    min-height: 390px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-5 .u-image-1 {
    min-height: 767px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1096px;
  }

  .u-section-5 .u-image-1 {
    min-height: 575px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-5 .u-image-1 {
    min-height: 339px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 305px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 60px;
    margin-left: 60px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 628px;
}

.u-section-6 .u-image-1 {
  width: 497px;
  height: 620px;
  margin: 24px 300px -16px auto;
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    margin-right: 223px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    margin-right: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 424px;
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
  min-height: 893px;
}

.u-section-7 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 60px auto 60px 0;
}

.u-section-7 .u-image-1 {
  min-height: 506px;
  background-image: url("images/WhatsAppImage2024-03-1912.18.08_1538787c.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 757px;
  background-image: linear-gradient(80deg, black, black);
}

.u-section-7 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(242,242,242,0.4);
  padding: 18px 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 300;
  font-size: 2.25rem;
  margin: 39px 0 0;
}

.u-section-7 .u-table-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-block-d762-55 {
  border-style: solid;
}

.u-section-7 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-1 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-7 .u-table-cell-2 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-7 .u-table-cell-3 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-4 {
  font-weight: 400;
}

.u-section-7 .u-table-body-1 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-5 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-6 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-7 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-8 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-9 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-10 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-11 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-12 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-13 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-14 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-15 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-16 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-17 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-18 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-19 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-20 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-21 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-22 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-23 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-24 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-25 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-26 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-27 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-28 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-29 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-30 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-31 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-32 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-33 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-34 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-35 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-36 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-37 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-38 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-39 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-40 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-41 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-42 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-43 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-44 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-45 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-46 {
  font-weight: 400;
}

.u-section-7 .u-table-cell-47 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-48 {
  font-weight: 400;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 536px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 990px;
    margin-left: auto;
  }

  .u-section-7 .u-image-1 {
    min-height: 427px;
    background-size: auto 125%;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 651px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 14px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 484px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 745px;
    margin-left: calc(((100% - 720px) / 2) + -25px);
  }

  .u-section-7 .u-image-1 {
    min-height: 404px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 436px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-left: auto;
  }

  .u-section-7 .u-image-1 {
    min-height: 1034px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 16px 23px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 358px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    min-height: 651px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 0.875rem;
  }
} .u-section-8 {
  background-image: url("images/IMG-20230806-WA0007.jpg");
}

.u-section-8 .u-sheet-1 {
  min-height: 338px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 264px;
    background-position: 50% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 279px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 186px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 214px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 122px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 161px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 51px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 101px;
  }
} .u-section-9 {
  background-image: none;
  min-height: 609px;
}

.u-section-9 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 69px auto 24px 0;
}

.u-section-9 .u-image-1 {
  min-height: 506px;
  background-image: url("images/WhatsAppImage2024-03-1017.15.25_5db958a2.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 506px;
  background-image: linear-gradient(80deg, black, black);
}

.u-section-9 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(242,242,242,0.4);
  padding: 18px 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 300;
  font-size: 2.25rem;
  margin: 39px 0 0;
}

.u-section-9 .u-table-1 {
  margin-top: 57px;
  margin-bottom: 0;
}

.u-block-43fc-55 {
  border-style: solid;
}

.u-section-9 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
}

.u-section-9 .u-table-cell-1 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-9 .u-table-cell-2 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-9 .u-table-cell-3 {
  font-weight: 400;
}

.u-section-9 .u-table-cell-4 {
  font-weight: 400;
}

.u-section-9 .u-table-body-1 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-9 .u-table-cell-5 {
  font-weight: 400;
}

.u-section-9 .u-table-cell-6 {
  font-weight: 400;
}

.u-section-9 .u-table-cell-7 {
  font-weight: 400;
}

.u-section-9 .u-table-cell-8 {
  font-weight: 400;
}

.u-section-9 .u-table-cell-9 {
  font-weight: 400;
}

.u-section-9 .u-table-cell-10 {
  font-weight: 400;
}

.u-section-9 .u-table-cell-11 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-9 .u-table-cell-12 {
  font-weight: 400;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 536px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 990px;
    margin-left: auto;
    margin-bottom: 39px;
  }

  .u-section-9 .u-image-1 {
    min-height: 427px;
    background-size: auto 125%;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 14px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 484px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 745px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: calc(((100% - 720px) / 2) + -25px);
  }

  .u-section-9 .u-image-1 {
    min-height: 404px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 436px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 30px;
    margin-left: auto;
    margin-bottom: 30px;
  }

  .u-section-9 .u-image-1 {
    min-height: 1034px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding: 16px 23px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 358px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 51px;
  }

  .u-section-9 .u-image-1 {
    min-height: 651px;
  }

  .u-section-9 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-9 .u-text-1 {
    font-size: 0.875rem;
  }
} .u-section-10 {
  background-image: none;
  min-height: 609px;
}

.u-section-10 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 69px auto 24px 0;
}

.u-section-10 .u-image-1 {
  min-height: 506px;
  background-image: url("images/WhatsAppImage2024-03-1011.07.22_345048fb.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 506px;
  background-image: linear-gradient(80deg, black, black);
}

.u-section-10 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(242,242,242,0.4);
  padding: 18px 30px;
}

.u-section-10 .u-text-1 {
  font-weight: 300;
  font-size: 2.25rem;
  margin: 39px 0 0;
}

.u-section-10 .u-table-1 {
  margin-top: 57px;
  margin-bottom: 0;
}

.u-block-85bc-55 {
  border-style: solid;
}

.u-section-10 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
}

.u-section-10 .u-table-cell-1 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-10 .u-table-cell-2 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-10 .u-table-cell-3 {
  font-weight: 400;
}

.u-section-10 .u-table-cell-4 {
  font-weight: 400;
}

.u-section-10 .u-table-body-1 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-10 .u-table-cell-5 {
  font-weight: 400;
}

.u-section-10 .u-table-cell-6 {
  font-weight: 400;
}

.u-section-10 .u-table-cell-7 {
  font-weight: 400;
}

.u-section-10 .u-table-cell-8 {
  font-weight: 400;
}

.u-section-10 .u-table-cell-9 {
  font-weight: 400;
}

.u-section-10 .u-table-cell-10 {
  font-weight: 400;
}

.u-section-10 .u-table-cell-11 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-10 .u-table-cell-12 {
  font-weight: 400;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 536px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 990px;
    margin-left: auto;
    margin-bottom: 39px;
  }

  .u-section-10 .u-image-1 {
    min-height: 427px;
    background-size: auto 125%;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 14px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 484px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 745px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: calc(((100% - 720px) / 2) + -25px);
  }

  .u-section-10 .u-image-1 {
    min-height: 404px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 436px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 30px;
    margin-left: auto;
    margin-bottom: 30px;
  }

  .u-section-10 .u-image-1 {
    min-height: 1034px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding: 16px 23px;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 358px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 51px;
  }

  .u-section-10 .u-image-1 {
    min-height: 651px;
  }

  .u-section-10 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-10 .u-text-1 {
    font-size: 0.875rem;
  }
} .u-section-11 {
  border-style: double;
}

.u-section-11 .u-sheet-1 {
  min-height: 451px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-11 .u-image-1 {
  min-height: 420px;
  background-image: url("images/1680271001058.jpeg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-11 .u-text-1 {
  font-size: 2.25rem;
  margin: 16px 34px 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 35px;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-11 .u-image-1 {
    min-height: 340px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-top: 5px;
    margin-left: -1px;
    margin-right: -1px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-11 .u-image-1 {
    min-height: 344px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-11 .u-text-2 {
    font-size: 1rem;
    margin-top: -9px;
    margin-right: -4px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-11 .u-image-1 {
    min-height: 461px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-11 .u-text-2 {
    margin-top: -16px;
    margin-left: -1px;
    margin-right: -1px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-11 .u-image-1 {
    min-height: 250px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 23px;
  }

  .u-section-11 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -12px;
    margin-right: -3px;
    margin-left: 1px;
  }
} .u-section-12 {
  background-image: url("images/IMG-20230806-WA0007.jpg");
}

.u-section-12 .u-sheet-1 {
  min-height: 338px;
}

@media (max-width: 1199px) {
   .u-section-12 {
    min-height: 264px;
    background-position: 50% 50%;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 279px;
  }
}

@media (max-width: 991px) {
   .u-section-12 {
    min-height: 186px;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 214px;
  }
}

@media (max-width: 767px) {
   .u-section-12 {
    min-height: 122px;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 161px;
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    min-height: 51px;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 101px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 25px;
}