 .u-section-1 {
  background-image: url("/images/tlchargement.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 173px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 172px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 186px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-size: 4.5rem;
  margin: 54px 220px 54px 273px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 173px;
    margin-right: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 63px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 24px;
    margin-bottom: 24px;
  }
} .u-section-3 {
  min-height: 100px;
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 594px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 594px;
  background-image: url("/images/IMG_20221110_062339.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-image-2 {
  min-height: 594px;
  background-image: url("/images/articletfromorantin.PNG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 490px;
  }

  .u-section-3 .u-image-2 {
    min-height: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-3 .u-image-1 {
    min-height: 375px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 375px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 563px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 563px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 354px;
  }

  .u-section-3 .u-image-2 {
    min-height: 354px;
  }
} .u-section-4 {
  min-height: 100px;
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 594px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 594px;
  background-image: url("/images/Capture.PNG");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-image-2 {
  min-height: 594px;
  background-image: url("/images/HalloweenHalloweenPartyInstagramStory-FaitavecPosterMyWall3.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 209px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 490px;
  }

  .u-section-4 .u-image-2 {
    min-height: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    min-height: 375px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 375px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 851px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 677px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 563px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 100px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-4 .u-image-1 {
    min-height: 426px;
  }

  .u-section-4 .u-image-2 {
    min-height: 354px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 66px;
}