 .u-section-2 {
  background-image: url("images/IMG-20230806-WA0007.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 461px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 291px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 218px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 137px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 275px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 400;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-decoration: none !important;
  margin: 105px auto 60px 375px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: -80px;
    margin-left: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -137px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -175px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -237px;
  }
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 0px 0px 0px rgba(128,128,128,0) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-3 .u-text-1 {
  border-color: transparent !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 0px 0px 0px rgba(128,128,128,0) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-3 .u-text-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-3 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 870px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 800px;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  padding: 30px;
}

.u-section-4 .u-gallery-1 {
  height: 161px;
  width: 254px;
  margin: 29px 79px 0 auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-back-image-1 {
  left: -50px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-back-image-2 {
  left: -50px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-back-image-3 {
  left: -50px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-4 .u-back-slide-4 {
  background-image: none;
}

.u-section-4 .u-back-image-4 {
  left: -50px;
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-4 .u-back-image-6 {
  left: -50px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-4 .u-back-slide-6 {
  background-image: none;
}

.u-section-4 .u-back-image-7 {
  left: -50px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-4 .u-back-image-9 {
  left: -50px;
  object-position: 87.51% 50%;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-4 .u-back-image-10 {
  left: -50px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-4 .u-back-image-11 {
  left: -50px;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-4 .u-back-image-12 {
  left: -50px;
}

.u-section-4 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-image-1 {
  min-height: 800px;
  background-image: url("images/Capturedcran2024-08-26215038.png");
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 660px;
  }

  .u-section-4 .u-image-1 {
    min-height: 660px;
    background-position: 18.45% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-4 .u-gallery-1 {
    margin-right: 46px;
  }

  .u-section-4 .u-image-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 759px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-4 .u-image-1 {
    min-height: 478px;
  }
} .u-section-5 {
  min-height: 318px;
}

.u-section-5 .u-sheet-1 {
  min-height: 755px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 40px 0 60px;
}

.u-section-5 .u-image-1 {
  min-height: 655px;
  background-image: url("images/ANewDesign-FaitavecPosterMyWall.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-5 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 13px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 26px auto 0;
  padding: 9px 46px 11px 44px;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 158px auto 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 38px auto 0;
  padding: 9px 46px 11px 44px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 540px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 169px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 97px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-5 .u-image-1 {
    min-height: 414px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 196px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 384px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1349px;
  }

  .u-section-5 .u-image-1 {
    min-height: 621px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 964px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 44px;
    padding-right: 44px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 44px;
    margin-left: 108px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 137px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 154px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-5 .u-image-1 {
    min-height: 391px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 598px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: 202px;
    margin-top: 21px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 34px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 69px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 38px;
  }
} .u-section-6 {
  background-image: url("images/IMG-20230806-WA0007.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 390px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 264px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 322px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 186px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 247px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 122px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 185px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 51px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 116px;
  }
} .u-section-7 {
  min-height: 100px;
}

.u-section-7 .u-sheet-1 {
  min-height: 719px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 65px 0 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 594px;
}

.u-section-7 .u-container-layout-1 {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 78px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 47px auto 0;
  padding: 9px 46px 11px 44px;
}

.u-section-7 .u-image-1 {
  min-height: 594px;
  background-image: url("images/SummerPartyBeachpartyhellosummer-FaitavecPosterMyWall.jpg");
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-7 .u-image-1 {
    min-height: 490px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-1 {
    min-height: 375px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 563px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 179px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 27px;
  }

  .u-section-7 .u-image-1 {
    min-height: 354px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 25px;
}