 .u-section-1 {
  background-image: url("/images/tlchargement.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 173px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 172px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 66px;
}.u-section-3 .u-sheet-1 {
  min-height: 612px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 40px 76px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 76px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 54px;
}

.u-section-3 .u-image-1 {
  min-height: 415px;
  background-image: url("/images/Summer-FaitavecPosterMyWall.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 424px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 293px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(248,196,7,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(248,196,7,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(248,196,7,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(248,196,7,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 304px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 18px;
    padding: 4px 24px 4px 22px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 18px;
    padding: 4px 24px 4px 22px;
  }

  .u-section-3 .u-btn-3 {
    font-size: 0.75rem;
    margin-top: 18px;
    padding: 4px 24px 4px 22px;
  }

  .u-section-3 .u-btn-4 {
    font-size: 0.75rem;
    margin-top: 18px;
    padding: 4px 24px 4px 22px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 28px;
  }

  .u-section-3 .u-image-1 {
    min-height: 233px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 292px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-3 .u-image-1 {
    min-height: 386px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 273px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 243px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}