 .u-section-1 {
  background-image: url("/images/tlchargement.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 173px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 172px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 186px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-size: 4.5rem;
  margin: 54px 220px 54px 273px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 173px;
    margin-right: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 63px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 78px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 21px;
    margin-bottom: 24px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 66px;
}