 .u-section-1 {
  background-image: url("../images/IMG-20230806-WA00071.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 250px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 119px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 75px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 120px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3rem;
  margin: 43px auto 24px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 564px;
}

.u-section-3 .u-image-1 {
  width: 478px;
  height: 416px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 100px auto 0 0;
}

.u-section-3 .u-shape-1 {
  width: 115px;
  height: 429px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: -453px auto 0 36px;
}

.u-section-3 .u-image-2 {
  width: 383px;
  height: 316px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -373px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 735px;
  min-height: 515px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: -400px 0 14px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 4px 56px 0 4px;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 4px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-3 .u-image-1 {
    width: 352px;
    height: 388px;
    margin-top: 99px;
  }

  .u-section-3 .u-shape-1 {
    width: 150px;
    height: 515px;
    margin-top: -417px;
    margin-left: 35px;
  }

  .u-section-3 .u-image-2 {
    width: 478px;
    height: 391px;
    margin-top: -453px;
    margin-left: -17px;
  }

  .u-section-3 .u-group-1 {
    width: 400px;
    min-height: 616px;
    margin-top: -496px;
    margin-right: 23px;
    margin-bottom: 27px;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-3 .u-shape-1 {
    width: 193px;
    height: 565px;
    margin-top: -462px;
    margin-right: 45px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 587px;
    height: 454px;
    margin-top: -490px;
    margin-left: 34px;
  }

  .u-section-3 .u-group-1 {
    min-height: 456px;
    margin-top: 61px;
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 45px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-3 .u-image-1 {
    margin-left: -17px;
  }

  .u-section-3 .u-shape-1 {
    width: 185px;
    height: 543px;
    margin-right: auto;
    margin-left: 337px;
  }

  .u-section-3 .u-image-2 {
    width: 449px;
    height: 367px;
    margin-top: -448px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 552px;
    margin-top: -487px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 522px;
    margin-bottom: -389px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-3 .u-image-1 {
    width: 267px;
    height: 230px;
  }

  .u-section-3 .u-shape-1 {
    width: 108px;
    height: 353px;
    margin-top: -300px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 261px;
    margin-top: -283px;
  }

  .u-section-3 .u-group-1 {
    min-height: 797px;
    margin-top: -350px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 353px;
    margin-bottom: -322px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1146px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3rem;
  margin: 29px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 38px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 825px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 309px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  height: 309px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  height: 309px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  height: 309px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-image-5 {
  height: 309px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-4 .u-text-10 {
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-image-6 {
  height: 309px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-4 .u-text-12 {
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-7 {
  padding: 0;
}

.u-section-4 .u-image-7 {
  height: 309px;
  margin-top: 32px;
  margin-bottom: 0;
  object-position: 0% 50%;
}

.u-section-4 .u-text-14 {
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-image-8 {
  height: 309px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-4 .u-text-16 {
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-4 .u-text-17 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 676px;
  }

  .u-section-4 .u-image-1 {
    filter: brightness(0.6);
    height: 255px;
  }

  .u-section-4 .u-image-2 {
    filter: brightness(0.6);
    height: 255px;
  }

  .u-section-4 .u-image-3 {
    filter: brightness(0.6);
    height: 255px;
  }

  .u-section-4 .u-image-4 {
    filter: brightness(0.6);
    height: 255px;
  }

  .u-section-4 .u-image-5 {
    filter: brightness(0.6);
    height: 255px;
  }

  .u-section-4 .u-image-6 {
    filter: brightness(0.6);
    height: 255px;
  }

  .u-section-4 .u-image-7 {
    filter: brightness(0.6);
    height: 255px;
  }

  .u-section-4 .u-image-8 {
    filter: brightness(0.6);
    height: 255px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 2147px;
  }

  .u-section-4 .u-image-1 {
    height: 391px;
  }

  .u-section-4 .u-image-2 {
    height: 391px;
  }

  .u-section-4 .u-image-3 {
    height: 391px;
  }

  .u-section-4 .u-image-4 {
    height: 391px;
  }

  .u-section-4 .u-image-5 {
    height: 391px;
  }

  .u-section-4 .u-image-6 {
    height: 391px;
  }

  .u-section-4 .u-image-7 {
    height: 391px;
  }

  .u-section-4 .u-image-8 {
    height: 391px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 587px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-2 {
    height: 587px;
  }

  .u-section-4 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-3 {
    height: 587px;
  }

  .u-section-4 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-4 {
    height: 587px;
  }

  .u-section-4 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-5 {
    height: 587px;
  }

  .u-section-4 .u-text-10 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-6 {
    height: 587px;
  }

  .u-section-4 .u-text-12 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-13 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-7 {
    height: 587px;
  }

  .u-section-4 .u-text-14 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-15 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-8 {
    height: 587px;
  }

  .u-section-4 .u-text-16 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-17 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4247px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 266px;
  }

  .u-section-4 .u-image-1 {
    height: 370px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-2 {
    height: 370px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-3 {
    height: 370px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-4 {
    height: 370px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-5 {
    height: 370px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-6 {
    height: 370px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-13 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-7 {
    height: 370px;
  }

  .u-section-4 .u-text-14 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-15 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-8 {
    height: 370px;
  }

  .u-section-4 .u-text-16 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-17 {
    font-size: 1.125rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 498px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 1px;
  margin-bottom: 12px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 486px;
  grid-gap: 20px 20px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 50px;
}

.u-section-5 .u-image-1 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 21.51%;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: 47px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 50px;
}

.u-section-5 .u-image-2 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 74.34%;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 47px auto 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 0 50px;
}

.u-section-5 .u-image-3 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 47px auto 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 0 50px;
}

.u-section-5 .u-image-4 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  margin: 47px auto 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 396px;
  }

  .u-section-5 .u-image-1 {
    filter: brightness(0.6);
    height: 255px;
  }

  .u-section-5 .u-image-2 {
    filter: brightness(0.6);
    height: 255px;
  }

  .u-section-5 .u-image-3 {
    filter: brightness(0.6);
    height: 255px;
  }

  .u-section-5 .u-image-4 {
    filter: brightness(0.6);
    height: 255px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 1280px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 391px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 391px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 391px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-4 {
    height: 391px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2922px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2993px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 23px;
  }

  .u-section-5 .u-image-1 {
    height: 587px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 22px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 23px;
  }

  .u-section-5 .u-image-2 {
    height: 587px;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 22px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 23px;
  }

  .u-section-5 .u-image-3 {
    height: 587px;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 22px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 23px;
  }

  .u-section-5 .u-image-4 {
    height: 587px;
  }

  .u-section-5 .u-text-7 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 22px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    height: 370px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-2 {
    height: 370px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-3 {
    height: 370px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-4 {
    height: 370px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.125rem;
  }
}