 .u-section-1 {
  background-image: linear-gradient(white, #c0c0c0);
}

.u-section-1 .u-sheet-1 {
  min-height: 672px;
}

.u-section-1 .u-image-1 {
  width: 688px;
  height: 608px;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  margin: 38px auto 0 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto;
  width: 392px;
  margin: -596px 0 38px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 585px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 430px;
    height: 609px;
  }

  .u-section-1 .u-list-1 {
    width: 485px;
    margin-top: -601px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-image-1 {
    height: 490px;
    width: 350px;
  }

  .u-section-1 .u-list-1 {
    width: 659px;
    margin-top: -490px;
    margin-right: -329px;
    margin-bottom: 13px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 490px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-image-1 {
    height: 275px;
    width: 270px;
    margin-top: 73px;
  }

  .u-section-1 .u-list-1 {
    width: 535px;
    margin-top: -317px;
    margin-right: -276px;
    margin-bottom: 9px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 410px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-1 .u-image-1 {
    height: 290px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 49px;
    margin-bottom: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 396px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-bottom: -14px;
    margin-left: 49px;
  }
}