 .u-section-1 {
  background-image: url("../images/1N5A1379.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 505px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 759px;
  font-weight: 400;
  margin: 195px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 128px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 150px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 129px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 32px auto 32px 0;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 42px;
    margin-right: 0;
    margin-bottom: 9px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 38px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 27px auto 35px;
}.u-section-4 .u-sheet-1 {
  min-height: 177px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 38px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 42px auto 20px;
}.u-section-5 .u-sheet-1 {
  min-height: 178px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin: 38px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 33px auto 30px;
}.u-section-6 .u-sheet-1 {
  min-height: 178px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin: 38px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 27px auto 0 416px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-btn-2 {
    margin-left: 216px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-btn-1 {
    margin-top: 33px;
    margin-bottom: 30px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 256px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  margin: 38px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 11px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  margin: 30px auto 60px;
}.u-section-8 .u-sheet-1 {
  min-height: 198px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  margin: 38px auto 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 33px auto 50px;
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 51px;
    padding: 9px 0 10px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 253px;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  margin: 38px auto 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-9 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 60px;
}.u-section-10 .u-sheet-1 {
  min-height: 438px;
}

.u-section-10 .u-gallery-1 {
  height: 375px;
  width: 480px;
  margin: 31px auto 0 0;
}

.u-section-10 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-10 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-10 .u-carousel-item-1 {
  margin-right: 0;
  --effect-scale: 0.25;
}

.u-section-10 .u-back-image-1 {
  left: -50px;
}

.u-section-10 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-carousel-item-2 {
  margin-right: 0;
  --effect-scale: 0.25;
}

.u-section-10 .u-back-image-2 {
  left: -50px;
}

.u-section-10 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-carousel-item-3 {
  margin-right: 0;
  --effect-scale: 0.25;
}

.u-section-10 .u-back-image-3 {
  left: -50px;
}

.u-section-10 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-10 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-10 .u-text-1 {
  margin: -296px 19px 0 auto;
}

.u-section-10 .u-group-1 {
  width: 446px;
  min-height: 77px;
  height: auto;
  margin: -362px 67px 60px auto;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-10 .u-text-2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-10 .u-carousel-item-2 {
    margin-right: initial;
  }

  .u-section-10 .u-carousel-item-3 {
    margin-right: initial;
  }

  .u-section-10 .u-text-1 {
    transition-duration: 0.5s;
  }

  .u-section-10 .u-group-1 {
    height: auto;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-gallery-1 {
    width: 340px;
  }

  .u-section-10 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.875rem;
  }
}