 .u-section-1 {
  background-image: url("../images/IMG-20230806-WA0007.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 308px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 727px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 381px;
  }
} .u-section-2 {
  min-height: 196px;
}

.u-section-2 .u-sheet-1 {
  min-height: 623px;
}

.u-section-2 .u-table-1 {
  width: 840px;
  margin: 40px auto 0;
}

.u-block-188c-50 {
  background-image: none;
}

.u-section-2 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-2 .u-table-cell-1 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-2 .u-table-body-1 {
  line-height: 1.6;
  background-image: none;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-2 {
  background-image: none;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-block-188c-60 {
  background-image: none;
}

.u-section-2 .u-table-2 {
  width: 840px;
  margin: -3px auto 0;
}

.u-block-188c-86 {
  background-image: none;
}

.u-section-2 .u-table-header-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-2 .u-table-cell-3 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-4 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 0 60px;
}

.u-section-2 .u-table-body-2 {
  line-height: 1.6;
  background-image: none;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-5 {
  background-image: none;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-2 .u-table-cell-6 {
  background-image: none;
}

.u-block-188c-98 {
  background-image: none;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: -57px 286px 0 auto;
}

.u-section-2 .u-table-3 {
  width: 840px;
  margin: 57px auto 0;
}

.u-block-188c-65 {
  background-image: none;
}

.u-section-2 .u-table-header-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-2 .u-table-cell-7 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-8 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 0 60px;
}

.u-section-2 .u-table-body-3 {
  line-height: 1.6;
  background-image: none;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-9 {
  background-image: none;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-2 .u-table-cell-10 {
  background-image: none;
}

.u-block-188c-77 {
  background-image: none;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -127px 274px 0 auto;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: -3px 274px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-2 {
    height: 151px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 86px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    width: 720px;
  }

  .u-section-2 .u-table-2 {
    width: 720px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-table-3 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 210px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-1 {
    width: 540px;
  }

  .u-section-2 .u-table-2 {
    width: 540px;
  }

  .u-section-2 .u-table-3 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 158px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    width: 340px;
  }

  .u-section-2 .u-table-2 {
    width: 340px;
  }

  .u-section-2 .u-table-3 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 99px;
  }
} .u-section-3 {
  background-image: url("../images/IMG-20230806-WA0007.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 366px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 201px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 438px;
}

.u-section-4 .u-gallery-1 {
  height: 375px;
  width: 480px;
  margin: 31px auto 0 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
  --effect-scale: 0.25;
}

.u-section-4 .u-back-image-1 {
  left: -50px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
  --effect-scale: 0.25;
}

.u-section-4 .u-back-image-2 {
  left: -50px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
  --effect-scale: 0.25;
}

.u-section-4 .u-back-image-3 {
  left: -50px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-4 .u-text-1 {
  margin: -296px 19px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 446px;
  min-height: 77px;
  height: auto;
  margin: -362px 67px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-4 .u-gallery-1 {
    height: 320px;
    width: 380px;
    margin-top: 15px;
  }

  .u-section-4 .u-text-1 {
    transition-duration: 0.5s;
    width: auto;
    margin-top: -261px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: -347px;
    margin-right: 48px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-4 .u-gallery-1 {
    height: 270px;
    width: 313px;
    margin-top: 425px;
    margin-right: 169px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -580px;
    margin-right: auto;
    margin-left: 69px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -375px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 424px;
    margin-right: 95px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 351px;
    min-height: 61px;
    margin-top: -389px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 653px;
    margin-right: -24px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -734px;
  }

  .u-section-4 .u-group-1 {
    min-height: 50px;
    width: 276px;
    margin-top: -496px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }
}