 .u-section-1 {
  background-image: linear-gradient(white, #d9d9d9);
}

.u-section-1 .u-sheet-1 {
  min-height: 1183px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 456px;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0 11px;
}

.u-section-1 .u-text-1 {
  font-weight: bold;
  font-size: 3rem;
  margin: 11px auto 0 19px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  line-height: 2;
  margin: 14px 19px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: -192px 19px 0 11px;
}

.u-section-1 .u-list-1 {
  grid-auto-rows: 100%;
  width: 432px;
  margin: 22px auto 0 44px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  min-height: 149px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: linear-gradient(white, rgba(248,196,7,0.99));
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 106px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: linear-gradient(white, rgba(248,196,7,0.99));
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 106px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 456px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-video-1 {
  height: 388px;
  width: 498px;
  margin: 18px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 724px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  font-size: 1.125rem;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 724px;
}

.u-section-1 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 30px 60px 0;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: -292px 60px 0 31px;
}

.u-section-1 .u-image-1 {
  width: 489px;
  height: 297px;
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  margin: 77px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 409px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: -227px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 156px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 384px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-video-1 {
    height: 351px;
    width: 450px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 646px;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-form-1 {
    height: 453px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 688px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
    width: auto;
    margin-top: -313px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 254px;
    width: 415px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 63px;
    margin-bottom: 31px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 426px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    margin-top: -292px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 4px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 158px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 426px;
  }

  .u-section-1 .u-video-1 {
    height: 265px;
    width: 340px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 594px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    width: 280px;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 594px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -504px;
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-1 .u-image-1 {
    height: 201px;
    width: 310px;
    margin-top: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1990px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 83px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 418px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -244px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 157px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 604px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 515px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -360px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 225px;
    width: 415px;
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1872px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -320px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 188px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 588px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 510px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -440px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 159px;
    width: 300px;
    margin-top: 39px;
    margin-left: auto;
  }
}