 .u-section-1 {
  background-image: url("../images/1N5A1379.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 410px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 400;
  margin: 0 381px 0 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: 381px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-1 .u-text-1 {
    width: 759px;
    margin-right: 181px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 181px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 104px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 122px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 152px;
}

.u-section-2 .u-text-1 {
  margin: 47px auto 60px 0;
}.u-section-3 .u-sheet-1 {
  min-height: 1233px;
}

.u-section-3 .u-table-1 {
  margin: 30px auto 0;
}

.u-block-f173-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-block-f173-93 {
  height: 46px;
}

.u-block-f173-94 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-block-f173-96 {
  background-image: none;
  font-weight: 700;
}

.u-block-f173-147 {
  background-image: none;
  font-weight: 700;
}

.u-block-f173-97 {
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-table-body-1 {
  font-size: 1rem;
}

.u-section-3 .u-table-cell-1 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
}

.u-section-3 .u-table-cell-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-7 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-section-3 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-10 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-11 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  padding: 10px 31px 11px 29px;
}

.u-section-3 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-14 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-15 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  padding: 10px 31px 11px 29px;
}

.u-section-3 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-18 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-19 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  padding: 10px 31px 11px 29px;
}

.u-section-3 .u-table-cell-21 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-22 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-23 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  padding: 10px 31px 11px 29px;
}

.u-section-3 .u-table-cell-25 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-26 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-27 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  padding: 10px 31px 11px 29px;
}

.u-section-3 .u-table-cell-29 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-30 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-31 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  padding: 10px 31px 11px 29px;
}

.u-section-3 .u-table-cell-33 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-34 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-35 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
}

.u-section-3 .u-table-cell-37 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-38 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-39 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-41 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-42 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-43 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-45 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-46 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-47 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-49 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-50 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-51 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-53 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-54 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-55 {
  font-weight: 700;
  background-image: none;
}

.u-block-f173-35 {
  background-image: none;
}

.u-section-3 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: -296px 11px 0 auto;
  padding: 10px 61px 10px 60px;
}

.u-section-3 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: -135px 11px 0 auto;
  padding: 10px 61px 10px 60px;
}

.u-section-3 .u-btn-11 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: 90px 11px 0 auto;
  padding: 10px 61px 10px 60px;
}

.u-section-3 .u-btn-12 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: 14px 11px 0 auto;
  padding: 10px 61px 10px 60px;
}

.u-section-3 .u-btn-13 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: 14px 11px 9px auto;
  padding: 10px 61px 10px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    margin-top: 476px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-13 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1594px;
  }

  .u-section-3 .u-table-1 {
    width: 720px;
    margin-top: 0;
    margin-right: auto;
    margin-left: -16px;
  }

  .u-section-3 .u-btn-9 {
    margin-top: -292px;
    margin-right: 23px;
    padding-right: 33px;
    padding-left: 31px;
  }

  .u-section-3 .u-btn-10 {
    margin-top: -138px;
    margin-right: 23px;
    padding-right: 33px;
    padding-left: 31px;
  }

  .u-section-3 .u-btn-11 {
    margin-top: 94px;
    margin-right: 23px;
    padding-right: 33px;
    padding-left: 31px;
  }

  .u-section-3 .u-btn-12 {
    margin-top: 16px;
    margin-right: 23px;
    padding-right: 33px;
    padding-left: 31px;
  }

  .u-section-3 .u-btn-13 {
    margin-top: 15px;
    margin-right: 23px;
    margin-bottom: 1px;
    padding-right: 32px;
    padding-left: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-table-1 {
    margin-top: 392px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-13 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-table-1 {
    margin-top: 204px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-table-body-1 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.625rem;
    padding: 6px 28px 8px 27px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 0.625rem;
    padding: 7px 24px 7px 23px;
  }

  .u-section-3 .u-btn-3 {
    font-size: 0.625rem;
    padding: 6px 26px 7px 25px;
  }

  .u-section-3 .u-btn-4 {
    font-size: 0.625rem;
    padding: 7px 26px 9px 25px;
  }

  .u-section-3 .u-btn-5 {
    font-size: 0.625rem;
    padding: 8px 28px 8px 27px;
  }

  .u-section-3 .u-btn-6 {
    font-size: 0.625rem;
    padding: 8px 30px;
  }

  .u-section-3 .u-btn-7 {
    font-size: 0.625rem;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-btn-8 {
    font-size: 0.625rem;
    padding: 10px 0;
  }

  .u-section-3 .u-btn-9 {
    font-size: 0.625rem;
    margin-top: -297px;
    padding-right: 22px;
    padding-left: 20px;
  }

  .u-section-3 .u-btn-10 {
    font-size: 0.625rem;
    margin-top: -141px;
    padding-right: 22px;
    padding-left: 20px;
  }

  .u-section-3 .u-btn-11 {
    font-size: 0.625rem;
    margin-top: 125px;
    padding-right: 22px;
    padding-left: 20px;
  }

  .u-section-3 .u-btn-12 {
    font-size: 0.625rem;
    margin-top: 31px;
    padding-right: 21px;
    padding-left: 20px;
  }

  .u-section-3 .u-btn-13 {
    font-size: 0.625rem;
    margin-top: 31px;
    margin-bottom: 2px;
    padding-right: 22px;
    padding-left: 20px;
  }
} .u-section-4 {
  filter: none;
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 651px;
}

.u-section-4 .u-image-1 {
  filter: none;
  width: 976px;
  height: 531px;
  margin: 50px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-4 .u-image-1 {
    inset: auto;
    width: 940px;
    height: 511px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 391px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 184px;
  }
}