 .u-section-1 {
  background-image: none;
  min-height: 625px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 40px auto 40px 0;
}

.u-section-1 .u-image-1 {
  min-height: 497px;
  background-image: url("/images/0.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 545px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 32px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 40px auto 0 0;
}

.u-section-1 .u-table-1 {
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 566px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-image-1 {
    min-height: 526px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 526px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 351px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-image-1 {
    min-height: 403px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    min-height: 1067px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    min-height: 672px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 625px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 40px auto 40px 0;
}

.u-section-2 .u-image-1 {
  min-height: 497px;
  background-image: url("/images/277202120_1183282535809019_5235597991772040809_n.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 545px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 32px 0 0;
}

.u-section-2 .u-table-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 566px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-image-1 {
    min-height: 526px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 351px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-image-1 {
    min-height: 403px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-image-1 {
    min-height: 1067px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-image-1 {
    min-height: 672px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 625px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 40px auto 40px 0;
}

.u-section-3 .u-image-1 {
  min-height: 497px;
  background-image: url("/images/0H3A5417_12.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 545px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 32px 0 0;
}

.u-section-3 .u-table-1 {
  margin: 20px 0 0;
}

.u-section-3 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 566px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-3 .u-image-1 {
    min-height: 526px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-3 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 351px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-image-1 {
    min-height: 403px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-image-1 {
    min-height: 1067px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-image-1 {
    min-height: 672px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 625px;
}

.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 40px auto 40px 0;
}

.u-section-4 .u-image-1 {
  min-height: 497px;
  background-image: url("/images/nesrine.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 545px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 32px 0 0;
}

.u-section-4 .u-table-1 {
  margin: 20px auto 0;
}

.u-section-4 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 566px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-4 .u-image-1 {
    min-height: 526px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-4 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 351px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-4 .u-image-1 {
    min-height: 403px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-image-1 {
    min-height: 1067px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-image-1 {
    min-height: 672px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 625px;
}

.u-section-5 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 40px auto 40px 0;
}

.u-section-5 .u-image-1 {
  min-height: 497px;
  background-image: url("/images/IMG20220130105032.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 545px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 32px 0 0;
}

.u-section-5 .u-table-1 {
  margin: 20px 0 0;
}

.u-section-5 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 566px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-5 .u-image-1 {
    min-height: 526px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-5 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 351px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-5 .u-image-1 {
    min-height: 403px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-5 .u-image-1 {
    min-height: 1067px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-5 .u-image-1 {
    min-height: 672px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 625px;
}

.u-section-6 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 40px auto 40px 0;
}

.u-section-6 .u-image-1 {
  min-height: 497px;
  background-image: url("/images/5.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 545px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 32px 0 0;
}

.u-section-6 .u-table-1 {
  margin: 20px 0 0;
}

.u-section-6 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 566px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-6 .u-image-1 {
    min-height: 526px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-6 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 351px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-6 .u-image-1 {
    min-height: 403px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-6 .u-image-1 {
    min-height: 1067px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-6 .u-image-1 {
    min-height: 672px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 625px;
}

.u-section-7 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 40px auto 40px 0;
}

.u-section-7 .u-image-1 {
  min-height: 497px;
  background-image: url("/images/0H3A56551.JPG");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 545px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 32px 0 0;
}

.u-section-7 .u-table-1 {
  margin: 20px 0 0;
}

.u-section-7 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 566px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-7 .u-image-1 {
    min-height: 526px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-7 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 351px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-7 .u-image-1 {
    min-height: 403px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-7 .u-image-1 {
    min-height: 1067px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-7 .u-image-1 {
    min-height: 672px;
  }
} .u-section-8 {
  background-image: none;
  min-height: 625px;
}

.u-section-8 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 40px auto 40px 0;
}

.u-section-8 .u-image-1 {
  min-height: 497px;
  background-image: url("/images/0H3A54332.JPG");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 545px;
}

.u-section-8 .u-container-layout-2 {
  padding: 14px 23px;
}

.u-section-8 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 48px 7px 0;
}

.u-section-8 .u-text-2 {
  margin: 23px auto 0 0;
}

.u-section-8 .u-table-1 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-8 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 566px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-8 .u-image-1 {
    min-height: 526px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 351px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-8 .u-image-1 {
    min-height: 403px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-8 .u-image-1 {
    min-height: 1067px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-8 .u-image-1 {
    min-height: 672px;
  }
} .u-section-9 {
  background-image: none;
  min-height: 577px;
}

.u-section-9 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 40px auto 40px 0;
}

.u-section-9 .u-image-1 {
  min-height: 497px;
  background-image: url("/images/0H3A54532.JPG");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 497px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 32px 70px 0 0;
}

.u-section-9 .u-table-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-9 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 566px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-9 .u-image-1 {
    min-height: 526px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 526px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 351px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-9 .u-image-1 {
    min-height: 403px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-9 .u-image-1 {
    min-height: 1067px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-9 .u-image-1 {
    min-height: 672px;
  }
} .u-section-10 {
  background-image: none;
  min-height: 577px;
}

.u-section-10 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 40px auto 40px 0;
}

.u-section-10 .u-image-1 {
  min-height: 497px;
  background-image: url("/images/0H3A54862.JPG");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 497px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 32px 70px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-10 .u-table-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-10 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 566px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-10 .u-image-1 {
    min-height: 526px;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 351px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-10 .u-image-1 {
    min-height: 403px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-10 .u-image-1 {
    min-height: 1067px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-10 .u-image-1 {
    min-height: 672px;
  }
} .u-section-11 {
  background-image: none;
  min-height: 577px;
}

.u-section-11 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1093px);
  margin: 40px auto 40px 0;
}

.u-section-11 .u-image-1 {
  min-height: 497px;
  background-image: url("/images/0H3A54952.JPG");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 497px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 32px 151px 0 0;
}

.u-section-11 .u-table-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-11 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
   .u-section-11 {
    min-height: 566px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-11 .u-image-1 {
    min-height: 526px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 526px;
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 351px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-11 .u-image-1 {
    min-height: 403px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-11 .u-image-1 {
    min-height: 1067px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-11 .u-image-1 {
    min-height: 672px;
  }
} .u-section-12 {
  background-image: none;
  min-height: 566px;
}

.u-section-12 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1094px);
  margin: 20px auto 20px 0;
}

.u-section-12 .u-image-1 {
  min-height: 526px;
  background-image: url("/images/RESULTATSTDFVALENCE.jpg");
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-1 {
  padding: 20px 17px 20px 20px;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 526px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 32px 283px 0 0;
}

.u-section-12 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-12 .u-table-1 {
  margin: 20px 0 0;
}

.u-section-12 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-12 .u-text-1 {
    margin-right: 173px;
  }

  .u-section-12 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-12 {
    min-height: 351px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-12 .u-image-1 {
    min-height: 403px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-12 .u-image-1 {
    min-height: 1067px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-12 .u-image-1 {
    min-height: 672px;
  }
}